<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.imhtb.live.mappers.RoomMapper">

    <select id="pageDetail" resultType="cn.imhtb.live.modules.system.model.SystemRoomDetail">
        select r.id,
               r.user_id,
               r.title,
               r.cover,
               r.secret,
               r.introduce,
               r.notice,
               r.rtmp_url,
               r.disabled,
               r.`status`,
               r.category_id,
               r.push_url,
               r.pull_url,
               r.create_time,
               r.update_time,
               u.nickname as user_nickname,
               u.avatar as user_avatar,
               u.signature as user_signature,
               c.name as category_name,
               c.icon as category_icon
        from room r
                 left join user u on r.user_id = u.id
                 left join category c on r.category_id = c.id
            ${ew.customSqlSegment}
    </select>

</mapper>
